@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}

body {
  color: #000;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h1, h3, h4, h5, h6 {
  margin: 1rem auto;
  font-weight: bold;
  line-height: 125%;
}

p {
  color: #3a3b3b;
  font-weight: 300;
  line-height: 150%;
}

p span {
  cursor: pointer;
  color: #674FFC;
  font-weight: bold;
}

p span:hover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-bottom: 1px solid #674FFC;
}

.navbar {
  width: 100%;
  margin: 5vh auto !important;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .brand {
  width: 150px;
}

.navbar .links a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.cta {
  margin: 1rem auto;
  padding: 16px 25px;
  border: none;
  border-radius: 6px;
  background-color: #674FFC;
  color: white;
  font-size: 16px;
}

.cta span {
  font-weight: bold;
}

.cta:hover {
  background-color: #3c1dfb;
}

#hero {
  width: 100%;
  min-height: 80vh;
}

#hero .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80vh;
  width: 100%;
}

#hero .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero .user {
  margin-bottom: .5rem;
}

#hero .mockup {
  background-image: url("./Assets/Feed Mockup.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#social {
  width: 100%;
  margin: 10vh auto;
  margin-top: 5vh;
}

#social .row {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  grid-auto-rows: 30vh;
}

#social .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#social img {
  max-width: 80%;
}

#social p {
  margin: 1rem auto;
}

#social .txt {
  width: 80%;
}

#phone {
  width: 100%;
  margin: 10vh auto;
}

#phone .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 6fr;
      grid-template-columns: 5fr 6fr;
  grid-auto-rows: 80vh;
}

#phone img {
  max-width: 90%;
}

#phone .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txt {
  width: 80%;
}

.txt p {
  margin: 1rem auto;
}

footer .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 7fr;
      grid-template-columns: 5fr 7fr;
  grid-auto-rows: 25vh;
}

footer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

footer .col {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .col a {
  display: block;
  margin: 10px auto;
  color: black;
  text-decoration: none !important;
  opacity: .8;
}

@media screen and (max-width: 900px) {
  #phone {
    margin: 2vh auto !important;
  }
  .hide-on-small-med {
    display: none !important;
  }
  .navbar {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  * .row {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    grid-auto-rows: auto !important;
  }
  * .row .col {
    margin: 2.5vh auto;
  }
  footer .row .col {
    margin: 2vh auto !important;
  }
  #social .end {
    margin: 2vh auto !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  * .txt {
    width: 100% !important;
  }
  #hero .mockup {
    width: 100%;
    min-height: 50vh;
    margin: 5vh auto;
  }
}

@media screen and (max-width: 600px) {
  footer .wrapper {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  footer .wrapper .col {
    margin: 2vh auto !important;
    width: 100% !important;
  }
}
